# Il primo notebook di microrobotica

Questo è il prim esempio di note di Jupiter visto in **5AROB**

In [2]:
a = 1
b = 2
print(a+b)

3

**ATTENZIONE**: il namespace di un notebook è condiviso in tutte le sue celle

In [4]:
print(a)

1

In [5]:
a #inviando manda direttamente il valore senza fare la print (vale per una variabile sola)

1

## Ripasso sui dizionari

In [16]:
letter2number = {}
number2letter = {}
letters = "abcdefghilmnopqrstuvz"
#len(letters)
for number, letter in enumerate(letters):
    letter2number[letter] = number
    number2letter[number] = letter
    print(number, letter)

0 a
1 b
2 c
3 d
4 e
5 f
6 g
7 h
8 i
9 l
10 m
11 n
12 o
13 p
14 q
15 r
16 s
17 t
18 u
19 v
20 z

In [20]:
letter2number

{'a': 0,
 'b': 1,
 'c': 2,
 'd': 3,
 'e': 4,
 'f': 5,
 'g': 6,
 'h': 7,
 'i': 8,
 'l': 9,
 'm': 10,
 'n': 11,
 'o': 12,
 'p': 13,
 'q': 14,
 'r': 15,
 's': 16,
 't': 17,
 'u': 18,
 'v': 19,
 'z': 20}

In [22]:
number2letter

{0: 'a',
 1: 'b',
 2: 'c',
 3: 'd',
 4: 'e',
 5: 'f',
 6: 'g',
 7: 'h',
 8: 'i',
 9: 'l',
 10: 'm',
 11: 'n',
 12: 'o',
 13: 'p',
 14: 'q',
 15: 'r',
 16: 's',
 17: 't',
 18: 'u',
 19: 'v',
 20: 'z'}

Per pulire la memoria andare su Kernel>>Restart Kernel and run all cells

In [24]:
string = input("Inserisci una frase: ")

Inserisci una frase:  ciao come va?

In [28]:
string

'ciao come va?'