# ES23
## Noemi Baruffolo 5^AROB
### laureati pag.153 es.11

In [4]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [22]:
laureatiAteneo = pd.read_csv('./csv/02_laureatixateneo.csv', sep = ';')
laureatiAteneo.head()

   AnnoS  AteneoCOD          AteneoNOME SESSO   Lau
0   2023        101              Torino     F  6611
1   2023        101              Torino     M  4045
2   2023        102  Torino Politecnico     F  2466
3   2023        102  Torino Politecnico     M  5264
4   2023        201  Piemonte Orientale     F  1513

In [12]:
laureatiAteneo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3915 entries, 0 to 3914
Data columns (total 1 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   AnnoS;AteneoCOD;AteneoNOME;SESSO;Lau  3915 non-null   object
dtypes: object(1)
memory usage: 30.7+ KB

In [30]:
laureatiAteneo["AteneoCOD"].value_counts()

AteneoCOD
101     46
5807    46
6303    46
6302    46
6301    46
        ..
5814    28
4804    27
5817    21
1510    16
5818     6
Name: count, Length: 92, dtype: int64

In [28]:
laureatiResidenza = pd.read_csv('./csv/07_laureatixresidenza.csv', sep = ';')
laureatiResidenza.head()

   AnnoS  CODIstatProv ProvinciaRES  CODIstatComune     ComuneRES SESSO  Lau
0   2023             1       TORINO            1001        AGLIE'     F    3
1   2023             1       TORINO            1001        AGLIE'     M    7
2   2023             1       TORINO            1002       AIRASCA     F    9
3   2023             1       TORINO            1002       AIRASCA     M    6
4   2023             1       TORINO            1003  ALA DI STURA     M    2

In [20]:
laureatiResidenza.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194158 entries, 0 to 194157
Data columns (total 1 columns):
 #   Column                                                              Non-Null Count   Dtype
---  ------                                                              --------------   -----
 0   AnnoS;CODIstatProv;ProvinciaRES;CODIstatComune;ComuneRES;SESSO;Lau  194158 non-null  object
dtypes: object(1)
memory usage: 1.5+ MB

In [34]:
laureatiResidenza["ProvinciaRES"].value_counts()

ProvinciaRES
TORINO                       7040
BERGAMO                      5967
BRESCIA                      5288
TRENTO                       4664
CUNEO                        4381
                             ...
BARLETTA - ANDRIA - TRANI     280
PRATO                         196
TRIESTE                       166
PROVINCIA ESTERA               30
PROVINCIA NON DEFINITA         28
Name: count, Length: 108, dtype: int64

In [36]:
laureatiResidenza["SESSO"].value_counts()

SESSO
F    100378
M     93780
Name: count, dtype: int64

In [24]:
tipoCorso = pd.read_csv('./csv/04_laureatixtipocorso.csv', sep = ';')
tipoCorso.head()

   AnnoS                                    CorsoTIPO SESSO     Lau
0   2023        Corso di Laurea - vecchio ordinamento     M     105
1   2023                           Laurea - dm 270/04     F  120410
2   2023                Laurea Magistrale - dm 270/04     F   76489
3   2023             Laurea Specialistica - dm 509/99     M      35
4   2023  Laurea Magistrale a Ciclo Unico - dm 270/04     F   23630

In [26]:
tipoCorso.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 277 entries, 0 to 276
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   AnnoS      277 non-null    int64
 1   CorsoTIPO  277 non-null    object
 2   SESSO      277 non-null    object
 3   Lau        277 non-null    int64
dtypes: int64(2), object(2)
memory usage: 8.8+ KB

In [42]:
tipoCorso["CorsoTIPO"].value_counts()

CorsoTIPO
Corso di Laurea - vecchio ordinamento             46
Laurea Specialistica - dm 509/99                  46
Laurea  - dm 509/99                               46
Laurea Specialistica a Ciclo Unico - dm 509/99    44
Laurea Magistrale a Ciclo Unico - dm 270/04       34
Laurea Magistrale - dm 270/04                     31
Laurea - dm 270/04                                30
Name: count, dtype: int64

In [44]:
tipoCorso["SESSO"].value_counts()

SESSO
F    139
M    138
Name: count, dtype: int64

In [80]:
# cercare quanti/e laureati/e nel mio comune e fare il grafico a linea
femmine = laureatiResidenza(laureatiResidenza["ComuneRES"]== "CHIUSA DI PESIO") & (laureatiResidenza["SESSO"] == "F")[["AnnoS", "Lau"]].groupby("AnnoS").sum()

TypeError: 'DataFrame' object is not callable

In [72]:
# cercare quanti/e laureati/e nel mio comune e fare il grafico a linea
maschi = laureatiResidenza(laureatiResidenza["ComuneRES"]== "CHIUSA DI PESIO"]) & (laureatiResidenza["SESSO"] == "M"])[["AnnoS", "Lau"]].groupby("AnnoS").sum()

SyntaxError: closing parenthesis ']' does not match opening parenthesis '(' (3419654683.py, line 2)